
/* General styles */

@font-face {
	font-family: roboto;  
	src: local('Museo300-Regular'), 
		url("fonts/RobotoSlab-Regular.ttf") format('truetype');  
	font-weight: normal;  
}

@font-face {
	font-family: josefin;  
	src: local('JosefinSlab-Regular'), 
		url("fonts/JosefinSlab-Regular.ttf") format('truetype');  
	font-weight: normal;  
}
/* Browser Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
 aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	

}


/* Site Wrapper */


#site-wrapper
{
margin-left:1em;
margin-right:1em;
margin-top:1em;
margin-bottom:1em;
}


/*.site-main
{
position:relative;
left:16.66%;;						//to be removed 
top:150px;
}

.content-area
{
	width: 1240px;
	height: 1574px;   					// to be removed
	position: relative;
	
}

*/


@media screen and (min-width:12em ) and (max-width: 29em ) {


.post-title
{
	margin-top: 10%;
	
			width:100%;
	height:100%;
	position:relative;
	font-family: 'Love Ya Like A Sister', cursive;	font-size: 16px;
	font-weight: bold;
	color: #3e3e3e;
	overflow:hidden;
}

.post-text
{
		position:relative;
		width:100%;
		height:100%;
	
	margin-top:10%;
	font-family: 'roboto', sans-serif;
	font-size: 10px;
	font-style: regular;
	color: #3e3e3e;
	
}

div h1{
font-family: "Myriad Pro";
	font-size: 14px;
	font-weight: bold;
	color: #3e3e3e;
	margin:0px;
	padding:0px;
}
.masonry-entry{

width:80%;
margin-bottom:10px;
background-color: #fff;
	-webkit-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	box-shadow: -2px 0 10px rgba(0,0,0,.5);}
	
	.container-fluid .navbar-default .nav-menu li 
{
	
	width:100%;
	background-color: #fff;
	-webkit-box-shadow: -2px 0 0px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 0px rgba(0,0,0,.5);
	box-shadow: -2px 0 0px rgba(0,0,0,.5);
			background-color: #333;

	
		
}
}
@media screen and (min-width:29.1em ) and (max-width: 40em ) {

.post-title
{
	margin-top: 10%;
	
			width:100%;
	height:100%;
	position:relative;
	font-family: 'Love Ya Like A Sister', cursive;	font-size: 16px;
	font-weight: bold;
	color: #3e3e3e;
	overflow:hidden;
}

.post-text
{
		position:relative;
		width:100%;
		height:100%;
	
	margin-top:10%;
	font-family: 'roboto', sans-serif;
	font-size: 10px;
	font-style: regular;
	color: #3e3e3e;
	
}
div h1{
font-family: "Myriad Pro";
	font-size: 14px;
	font-weight: bold;
	color: #3e3e3e;
	margin:0px;
	padding:0px;
}
.masonry-entry{

width:80%;
margin-bottom:10px;
background-color: #fff;
	-webkit-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	box-shadow: -2px 0 10px rgba(0,0,0,.5);}
	
.container-fluid .navbar-default .nav-menu li 
{
	
	width:100%;
	background-color: #fff;
	-webkit-box-shadow: -2px 0 0px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 0px rgba(0,0,0,.5);
	box-shadow: -2px 0 0px rgba(0,0,0,.5);
			background-color: #333;

	
		
}
}
@media screen and (min-width:40.1em ) and (max-width: 64em ) {


.post-title
{
	margin-top: 5%;
	
			width:100%;
	height:100%;
	position:relative;
	font-family: 'Love Ya Like A Sister', cursive;	font-size: 20px;
	font-weight: bold;
	color: #3e3e3e;
	overflow:hidden;
}

.post-text
{
		position:relative;
		width:100%;
		height:100%;
	
	margin-top:10%;
	font-family: 'roboto', sans-serif;
	font-size: 14px;
	font-style: regular;
	color: #3e3e3e;
	
}

.container-fluid .navbar-default .nav-menu li 
{
	
	width:100%;
	background-color: #fff;
	-webkit-box-shadow: -2px 0 0px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 0px rgba(0,0,0,.5);
	box-shadow: -2px 0 0px rgba(0,0,0,.5);
			background-color: #333;

	
		
}
.masonry-entry{

width:43%;
background-color: #fff;
margin-bottom:10px;
	-webkit-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	box-shadow: -2px 0 10px rgba(0,0,0,.5);}
}
@media screen and (min-width:64.1em ) and (max-width: 80em ) {



.post-title
{
	margin-top: 10%;
	width:100%;
	height:100%;
	position:relative;
	font-family: 'Love Ya Like A Sister', cursive;	font-size: 28px;
	font-weight: bold;
	color: #3e3e3e;
	overflow:hidden;
}

.post-text
{
		position:relative;
		width:100%;
		height:100%;
	
	margin-top:10%;
	font-family: 'roboto', sans-serif;
	font-size: 18px;
	font-style: regular;
	color: #3e3e3e;
	
}
.container-fluid .navbar-default .nav-menu li 
{
	
	width:100%;
	background-color: #fff;
	-webkit-box-shadow: -2px 0 0px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 0px rgba(0,0,0,.5);
	box-shadow: -2px 0 0px rgba(0,0,0,.5);
			background-color: #333;

	
		
}
.masonry-entry{

width:33%;
background-color: #fff;
margin-bottom:10px;
	-webkit-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	box-shadow: -2px 0 10px rgba(0,0,0,.5);}
}
@media screen and (min-width:80.1em )  {


.post-title
{
	margin-top: 10%;
	width:100%;
	height:100%;
	position:relative;
	font-family: 'Love Ya Like A Sister', cursive;	font-size: 28px;
	font-weight: bold;
	color: #3e3e3e;
	overflow:hidden;
}

.post-text
{
		position:relative;
		width:100%;
		height:100%;
	
	margin-top:10%;
	font-family: 'roboto', sans-serif;
	font-size: 18px;
	font-style: regular;
	color: #3e3e3e;
	
}

.masonry-entry{

width:23%;
background-color: #fff;
margin-bottom:10px;
	-webkit-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	box-shadow: -2px 0 10px rgba(0,0,0,.5);}
}









/* Header Section 
1. Brand Logo 
2. Navigation Menu 
3. Header Strip */

/* Header Background and Color */

div.header
{
background-color: #333;
margin-left:0px;
margin-right:0px;
}

/* End of Header*/



/* Header Logo */ 

.header-logo
{
top:0px;
margin-left:20%;
width:150%;
z-index:9999;
vertical-align:top;
}



/* navigation Menu */

nav.navigation-menu
{
	width: 100%;
	background-color: #333;
	margin-bottom:0px;
	border-color:inherit;
}
.container-fluid .navbar-default .nav-menu 
{
	width:100%;
	
}
.container-fluid .navbar-default .nav-menu li 
{
	
	width:15%; 
	background-color: #fff;
	-webkit-box-shadow: -2px 0 0px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 0px rgba(0,0,0,.5);
	box-shadow: -2px 0 0px rgba(0,0,0,.5);
			background-color: #333;

	
		
}
.container-fluid .navbar-default .nav-menu>li >a
{
	
	color: #Fff;
	text-decoration:none;
	font-family: "roboto";
	font-size: 13px;
	text-align:center;
	vertical-align:middle;
		
}

.container-fluid .navbar-default .nav-menu>li >a:hover
{
color:#6175FF;  /* hover color needs to be fixed */
}

/*  Header Strip */

.header-Strip
{
	
	width: 100%;
	height: 20px;
	position: relative;
	
}
#Strip-5
{
	width: 16.66%;
	height: 100%;
	background-color: #d83d3d;
	float: left;
}

							

#Strip-4
{
	float: left;
	width: 16.66%;
	height: 100%;
	background-color: #f2e575;
	
}

							

#Strip-3
{
	float: left;
	width: 16.66%;
	height: 100%;
	background-color: #ccd93a;
}


							

#Strip-2
{
	float: left;
	width: 16.66%;
	height: 100%;
	background-color: #72d34c;
}
#Strip-2-sh
{
display:none;
font-size:1.25em;
	font-family:oswald;
	text-align:center;
	float: left;
	width: 16.66%;
	height: 100%;
	background-color: #333;
	color:#fff;
}
							

#Strip-1
{
	float: left;
	width: 16.66%;
	height: 100%;
	background-color: #a6dce9;
}

						
#header-strip-ex
{
display:none;
font-size:1.25em;
	font-family:oswald;
	text-align:center;
	color:#fff;
	text-decoration:none;
}

#header-strip-ex a
{

	color:#fff;
	text-decoration:none;
}
#Strip-0
{
	float: left;
	width: 16.66%;
	height: 100%;
	background-color: #53c4d1;
}

#Strip-5-ex
{
	width: 16.66%;
	height: 100%;
	background-color: #d83d3d;
	float: left;
}

							

#Strip-4-ex
{
	float: left;
	width: 16.66%;
	height: 100%;
	background-color: #f2e575;
	
}

							

#Strip-3-ex
{
	float: left;
	width: 16.66%;
	height: 100%;
	background-color: #ccd93a;
}


							


#Strip-2-ex
{


	float: left;
	width: 16.66%;
	height: 100%;
	background-color: #333;
	
}
							

#Strip-1-ex
{
	float: left;
	width: 16.66%;
	height: 100%;
	background-color: #a6dce9;
}

							

#Strip-0-ex
{
	float: left;
	width: 16.66%;
	height: 100%;
	background-color: #53c4d1;
}

/* End of Header Strip */



/* End of Header Section */


/* Content Section 

1. Contains Styles for post on Index.php  - post-1 for appearing on right and post-2 for appearing on left 

*/


/* Index.php */

div.post
{
margin-top:.5em;
margin-bottom:.5em;

	
	background-color: #fff;
	-webkit-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	box-shadow: -2px 0 10px rgba(0,0,0,.5);
	display:inline-block;
	padding:0px;
	
}
div.read-more 
{

	padding-right:0px;
}

button.read-more
{
width:100%;
height:2.5em;
margin-top:1.8em;
margin-bottom:1em;
background-color: #333;
}




/* Responsive Video Player */
.video-player
{
	 position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0;
	
	

}

.video-player iframe
{
 position: absolute;
    top: 0;
width:100%;
height: 100%;
    left: 0;
	
}



div.post-contents
{
width:50%;
display:inline-block;
}
div.post-thumbnail-img
{
	width:40%;

	
    display:inline-block;


	
}
div.post-thumbnail-img img
{
	width:100%;
		;
    display:inline-block;
	vertical-align:baseline;

	
}

    
	
	
/* Single.php*/	
	
div.single-post-title h1{

		font-size: 60px;
	
	font-family: 'Source Sans Pro', 'sans-serif';
font-weight:300;
line-height: 1.3;
	color: #71BB12;
	margin:0px;
	padding:0px;
}

#related-post
{
width: 100%;
	height: 15%;

	background-color: #fff;
	-webkit-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	box-shadow: -2px 0 10px rgba(0,0,0,.5);
	margin-bottom:70px;
	position: relative;
		padding:0px;
		}
		

div.related-post-thumbnail
{
  width:100%;
		}
p.related-post-title
{
	margin-bottom:10px;
	margin-left:10px;
	width:100%;
position:relative;
	font-family: 'Love Ya Like A Sister', cursive;	font-size: 18px;
	font-weight: bold;
	color: #3e3e3e;
	overflow:hidden;
		}

		
.single-post-title
{
	margin:20px 20px 20px 20px;
		width:100%;
	text-align:center;
	position:relative;
	font-family: 'Love Ya Like A Sister', cursive;	font-size: 28px;
	font-size: 38px;
	font-weight: bold;
	color: #3e3e3e;
	overflow:hidden;
}

.single-post-text
{
		position:relative;
		width:100%;
		line-height: 1.6;
		top:20px;
	margin: 1em 0;
	
	font-family: 'Noto Sans', 'Helvetica Neue', 'Helvetica, Arial', 'sans-serif';
	
	font-size: 1.5em;
	

	color: #4e616d;
	
}







.post-content-area div 
{
vertical-align:top;
display:inline-block;

}

div.single-post-container
{
text-align:justify;
 height:100%;
vertical-align:top;
margin-left:0px;
margin-right:0px;
}
div.single-post-entry
{

padding-left:7%;
padding-right:7%;

}
div.sidebar
{
background-color: #fff;
	-webkit-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	box-shadow: -2px 0 10px rgba(0,0,0,.5);
}
.btn-circle.btn-xl {
  width: 100%;
  height: 20px;
  padding:0px;
    font-size: 12px;
  border-radius: 35px;
}

/* Footer Design 

1. About content
2. Social Share Icons
3. Footer-logo
4. Recent Posts, Featured Video and Open Source Downloads

*/

.footer-logo 
{
top:2em;
vertical-align:center;
}

.site-footer
{
	background-color: #333;
	-webkit-box-shadow: -5px -1px 5px #000;
	-moz-box-shadow: -5px -1px 5px #000;
	box-shadow: -5px -1px 5px #000;
	text-align:center;
font-family:oswald;
list-style:none;
color:#fff;
text-decoration:none;
}

div.site-footer  a
{


font-family:roboto;
list-style:none;
color:#fff;
text-decoration:none;
}
.site-footer  a:hover
{
color:#E4D3D2;
text-decoration:none;
}
.site-footer  li 
{
margin-top:15px;
margin-left:15px;
text-align:left;
}



.about							/* About container */
{
text-align:left;
}




.row .social-icons      /*padding for individual icons */
{
padding-top:10%;
padding-bottom:10%
}
.social-share 				/* container */
{
background-color: #fff;
	-webkit-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: -2px 0 10px rgba(0,0,0,.5);
	box-shadow: -2px 0 10px rgba(0,0,0,.5);
	margin-bottom:70px;
}





/* Jquery Masonry css properties */

#masonry-loop					/* masonry container */
{
margin: 0 auto;
  width: auto;
  }


.masonry-post-title                       /* masonry individual post title */
{
	padding-left:10px;
	font-family: 'Love Ya Like A Sister', cursive;	font-size: 18px;
	font-weight: bold;
	color: #3e3e3e;
}

.masonry-post-excerpt                 /* masonry post excerpt   */
{
padding-left:10px;
font-family: 'roboto', sans-serif;

	font-style: regular;
	color: #3e3e3e;
}



